# Overview of Gold Lexica

This notebooks loads all datasets used in the gold evaluation, looks up their sizes and saves a csv table with the information to the disk. At the the end, the notebook produces a Latex-formatted version of the the Table.

In [1]:
import numpy as np
import pandas as pd

from memolon.src import utils,constants

In [2]:
df = pd.DataFrame(columns=['id', 'variables', 'size', 'citation'])
for key, value in utils.conditions.items():
    try:
        data = value['get']()
        size = len(data)
        variables = "".join([c[0] for c in data.columns])
        citation = value['citation']
    except KeyError:
        print('Problem processing {}'.format(key))
    df.loc[len(df)] = [key, variables, size, citation]
df.to_csv(constants.GOLD_LEXICA_OVERVIEW, index=False)

/home/ruecker/miniconda3/envs/emotionlexica/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (57) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df = pd.read_csv(constants.GOLD_LEXICA_OVERVIEW, index_col=0)
df.head()

    variables   size      citation
id
en1       vad   1032         xanew
en2       vad   1034     bradley99
en3     jasfd   1034   stevenson07
es1       vad   1034     redondo07
es2        va  14031  Stadthagen16

In [4]:
print(df.to_latex())

\begin{tabular}{llrl}
\toprule
{} & variables &   size &         citation \\
id  &           &        &                  \\
\midrule
en1 &       vad &   1032 &            xanew \\
en2 &       vad &   1034 &        bradley99 \\
en3 &     jasfd &   1034 &      stevenson07 \\
es1 &       vad &   1034 &        redondo07 \\
es2 &        va &  14031 &     Stadthagen16 \\
es3 &        va &    875 &        hiojosa16 \\
es4 &     jasfd &    875 &      hinojosa 16 \\
es5 &     jasfd &  10491 &     Stadthagen17 \\
es6 &     jasfd &   2266 &            ferre \\
de1 &       vad &   1003 &      Schmidtke14 \\
de2 &        va &   2902 &             Vo09 \\
de3 &        va &   1000 &         Kanske10 \\
de4 &     jasfd &   1958 &  Briesemeister12 \\
pl1 &       vad &   4905 &            Imbir \\
pl2 &        va &   2902 &         Riegel15 \\
pl3 &     jasfd &   2902 &          wierzba \\
zh1 &        va &   2794 &             yu16 \\
zh2 &        va &   1100 &            yao16 \\
it  &       vad &   1121 &      montefinese \\
pt  &       vad &   1034 &         soares12 \\
nl  &        va &   4299 &          Moors13 \\
id  &       vad &   1487 &         sianipar \\
el  &       vad &   1034 &     palogiannidi \\
tr1 &        va &   2029 &           Kapucu \\
tr2 &     jasfd &   2029 &           Kapucu \\
hr  &        va &   3022 &             Coso \\
\bottomrule
\end{tabular}

---